# Системные файлы Windows
Thumbs.db
Desktop.ini
ehthumbs.db
$RECYCLE.BIN/

# Системные файлы macOS
.DS_Store

# Настройки редакторов кода
.vscode/
.idea/
*.suo
*.swp

# SSH-ключи
id_ed25519*

# Логи и резервные копии
*.log
*.bak

# Модули сборщиков (на будущее)
node_modules/
package-lock.json